<h1 style="color:white;font-size:30px;font-weight:100;font-family:sans-serif" >Contact Us</h1>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr><td valign="top" class="copy">
        <p>201 W. Short Street, Suite 500<br>
           Lexington, Kentucky 40507<br>
           <span style="font-weight: bold;">Phone:</span> (859) 254-6636<br>
           <span style="font-weight: bold;"> Fax:</span> (859) 254-9263</p><br>
           <p><br></p>
        <p><a href="http://maps.google.com/maps?q=201+W+Short+St,+Lexington,+KY+40507,+USA&amp;ie=UTF8&amp;z=16&amp;iwloc=addr&amp;om=1" target="_blank"><img src="/images/google_map.jpg" title="Click here to view the Google map"></a></p>	</td>
    <td valign="top" class="copy" style="padding-left:15px;">
	<p class="subhdr"><b>Please use the form to contact us via our website:</b><p>
	<form action="/contact_us.php" method="post">
<table width="374"  border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="25%" align="right" class="copy"><span class="error">*</span> Name:</td>
    <td width="75%"><input name="name" type="text" class="form" style="width: 95%;" maxlength="50" value=""></td>
  </tr>
  <tr>
    <td align="right" class="copy"><span class="error">*</span> Email:</td>
    <td><input name="email" type="text" class="form" style="width: 95%;" maxlength="50" value=""></td>
  </tr>
  <tr>
    <td align="right" valign="top" class="copy"><span class="error">*</span> Message:</td>
    <td><textarea name="message" style="width: 95%;" cols="55" rows="10" class="form"></textarea></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input type="submit" id="btn" value="Send Message" class="button"><input name="action" type="hidden" value="true"></td>
  </tr>
	</table>
</form>
	</td>
  </tr>
</table>

