<h1 style="color:white;font-size:30px;font-weight:100;font-family:sans-serif">Media Etc.</h1>
<H3>company information::white reach portfolio</H3>
<A href="/downloads/white_reach_company_brochure.pdf" target=_blank>
  <IMG style="BORDER-RIGHT: rgb(167,79,33) 1px solid; BORDER-TOP: rgb(167,79,33) 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: rgb(167,79,33) 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: rgb(167,79,33) 1px solid" height=318 alt="White Reach Brochure" src="/images/white_reach_brochure_cover.jpg" width=250 align=left>Click to view White Reach Portfolio(.pdf)<BR><BR>To download, right click and select&nbsp;"Save Target As"<BR><BR></A>
<DIV class=clear>&nbsp;</DIV><H3>Site information::Louisville, Ky::Brownsboro Rd. &amp; MOckingbird Gardens dr.</H3><A href="/downloads/brown_and_mock_for_web.pdf" target=_blank>
  <IMG style="BORDER-RIGHT: rgb(167,79,33) 1px solid; BORDER-TOP: rgb(167,79,33) 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: rgb(167,79,33) 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: rgb(167,79,33) 1px solid" height=318 alt="Louisville" src="/images/brown_and_mock_cover.jpg" width=250 align=left>Click to view Brown &amp; Mock Rite Aid(.pdf)<BR><BR>To download, right click and select&nbsp;"Save Target As"<BR><BR></A>
<DIV class=clear>&nbsp;</DIV><H3>Site information::ashland, ky</H3><A href="/downloads/the_crossing.pdf" target=_blank>
  <IMG style="BORDER-RIGHT: rgb(167,79,33) 1px solid; BORDER-TOP: rgb(167,79,33) 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: rgb(167,79,33) 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: rgb(167,79,33) 1px solid" height=318 alt="Ashland" src="/images/the_crossings.jpg" width=250 align=left>Click to view&nbsp;The Crossings at Ashland, KY(.pdf)<BR><BR>To download, right click and select&nbsp;"Save Target As"<BR><BR></A>
<DIV class=clear>&nbsp;</DIV><H3>Site information::Nicholasville, ky</H3><A href="/downloads/nicholasville_corridor_pkg3.pdf" target=_blank>
  <IMG style="BORDER-RIGHT: rgb(167,79,33) 1px solid; BORDER-TOP: rgb(167,79,33) 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: rgb(167,79,33) 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: rgb(167,79,33) 1px solid" height=318 alt="Nicholasville Corridor" src="/images/nicholasville_corridor_pkg3.jpg" width=250 align=left>Click to view Nicholasville Corridor Land Development Package (.pdf)<BR><BR>To download, right click and select&nbsp;"Save Target As"<BR><BR></A>
<DIV class=clear>&nbsp;</DIV>
<P><A href="http://www.iceni.com/index.htm" target=_blank><SPAN style="COLOR: #a9a9a9">Click </SPAN><SPAN style="COLOR: #a9a9a9">here</SPAN></A></P>				

