<h1 style="color:white;font-size:30px;font-weight:100;font-family:sans-serif" >Our Team</h1><br>
			<!-- <h2 style="margin-top:15px;">Team Members</h2> -->
			<table cellspacing="0" cellpadding="8" border="0" width="100%">
							<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Steve  Reach</h3>
																																								<P align=justify>Steve is a graduate of the University of Kentucky’s College of Business and Economics. Steve began his career in the commercial real estate business before graduating from UK. After graduating, Steve stayed in Lexington, KY, where he&nbsp;worked to develop and lease properties for shopping centers&nbsp;throughout the state of Kentucky, and reported directly to Frank White. Steve went on to Join B.F. Saul, a publicly traded REIT, where he was a regional director of real estate including the management and leasing of Lexington Mall and strip centers in North Carolina. After a stint with Saul, Steve started Reach Commercial Assets, an asset management company that specialized in retail strip centers. In 1989, Reach Commercial was merged with FMW Company to form White Reach, LLC.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Eric  Brewer</h3>
																																								<P align=justify>Eric graduated Magna Cum Laude from the University of Tennessee, Knoxville, with a degree in Finance. His experience and bright mind give Eric an edge in the supervision of&nbsp;the single tenant development program at White Reach. Before joining White Reach, Eric worked at Realty Investment Services in Knoxville, TN, where his main responsibilities included property analysis, site selection, and retail development.&nbsp; He is also working towards the Certified Commercial and Investment Membership (CCIM) designation.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Bill  Northcut</h3>
																																								<P align=justify>Bill received his Bachelor's in Commerce and subsequently an MBA, both from the University of Louisville.&nbsp; He began his professional career in retail management with Winn Dixie, where he worked for&nbsp;32 years.&nbsp; After just six years, he was promoted to Real Estate Director in 1976 and excelled in that position until 2001.&nbsp; Later that year, Bill became the president and CEO of Asset Advisors in Louisville, Ky where he was involved in the construction and development of numerous retail and service tenants, including US Bank.&nbsp; Until the present, Bill has been operating Northcut Development, a Louisville-based development and retail brokerage company.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Bill  Connor</h3>
																																								<P>&nbsp;Bill is a graduate of the University of Kentucky with degrees in Civil Engineering and Business Man-agement.&nbsp; Employing his Business Management degree, Bill was a successful Investment Manager for four years with Fidelity Investments.&nbsp; Subsequently, he spent the next two years earning his B.S. in Civil Engineering, specializing in Construction Management.&nbsp; Combining his formal education with his practical experience, Bill was most recently employed by R.T. Dooley Construction, a Charlotte, NC headquartered general contracting firm.&nbsp; There he served as Project Manager—a title he has carried for more than five years—and was responsible for the timely and cost-effective completion of commercial construction contracts ranging from one to sixty million dollars.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Ian  Powdrill</h3>
																																								<P align=justify>Ian is a product of Asbury College, where he majored in Business Administration and Philosophy, graduating with honors.&nbsp; Utilizing his experience in construction, coupled with cutting-edge drafting technology, he continues to excel in the site design and construction management segments of the&nbsp;developments.&nbsp;&nbsp;In addition, his time is spent in the development of new design and marketing archetypes and projects, a fast-growing segment of White Reach.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Ron  Cantees</h3>
																																								<DIV class=MsoNormal style="MARGIN: 0in 0in 0pt; LINE-HEIGHT: 150%; TEXT-ALIGN: justify" align=justify><SPAN style="FONT-SIZE: 9pt; COLOR: #a9a9a9; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana"><SPAN style="COLOR: #a9a9a9; FONT-FAMILY: Verdana">Ron has been involved in the operations of shopping centers throughout the <?xml:namespace prefix = st1 ns = "urn:schemas-microsoft-com:office:smarttags" /><st1:place w:st="on">Midwest</st1:place> for over 20 years. He majored in Business Administration at <st1:place w:st="on"><st1:PlaceName w:st="on">Marshall</st1:PlaceName> <st1:PlaceName w:st="on">University</st1:PlaceName></st1:place> and has obtained his Kentucky Brokers License. He has attended ICSC University of Shopping Centers and has successfully passed the ICSC’s CSM and CMD exams. Ron began his career working for David Hocker &amp; Associates and has also worked for REITS such as Tucker Properties and Bradley Real Estate, which were based out of <st1:City w:st="on"><st1:place w:st="on">Chicago</st1:place></st1:City>.<SPAN style="FONT-SIZE: 10pt; COLOR: #a9a9a9; FONT-FAMILY: Verdana; mso-spacerun: yes">&nbsp; </SPAN></SPAN><SPAN style="COLOR: #a9a9a9; FONT-FAMILY: Verdana">During his career Ron has directed development, re-developments, operations and acquisitions. </SPAN></SPAN></DIV><SPAN style="FONT-SIZE: 9pt; COLOR: #a9a9a9; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana"><SPAN style="COLOR: #a9a9a9; FONT-FAMILY: Verdana"></SPAN></SPAN><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Sandy  Spears</h3>
																																								<P align=justify>In 1974, Sandy graduated from Hazard Community College, in Hazard, Ky, where she earned an Associates Degree in Business Administration. Soon after graduating, Sandy began her professional career with Bethlehem Steel Corporation, with tasks including accounting and payroll. After Bethlehem Steel closed their operations in1987, Sandy was hired by Enterprise Coal Company, for a promising position in both Accounting and HR for ten years. Realizing her potential to accept responsibility, management, and wide-ranging tasks, Jarisa, Inc—Neon, Ky—designated Sandy to their only executive administrator position, where she worked until she was sought after by White Reach.</P><br /><br /><br />				</td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>Mike  Wiles</h3>
																																								<P align=justify>Mike attended Murray State University, seeking a degree in Construction Management. Prior to joining White Reach Mike worked 8 years for The Sirk Company, A Paducah, KY based Commercial Real Estate Brokerage Company, where he was active in Tenant Representation for several retailers including Family Dollar, Hollywood Video, Starbucks and others. Prior to his working at Sirk Mike was employed at KS Construction, also in Paducah KY, where he served as Vice President of Construction for 10 years.</P><br /><br /><br />				/td>
				</tr>
								<tr> 
								<td valign="top" colspan="2" class="copy">
				<h3>George  Montgomery</h3>
																																								<P align=justify>George is a graduate of the University Of Kentucky College of Business &amp; Economics, and has been a Certified Public Accountant for over 20 years. Prior to his association with White Reach, George represented several clients in the real estate development and construction fields where Steve Reach and his companies were clients.</P><br /><br /><br />				</td>
				</tr>
							</table>

